body {
    text-align: center;
    color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.description {
    max-width: 600px;
    font-style: italic;
}

#img-stadium {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border: 3px solid #121212;
}

button {
    border: 3px solid #121212;
    width: 280px;
    padding: 10px 30px 10px 30px;
    font-size: inherit;
    font-weight: bold;
}

button:hover {
    background-color: #121212;
    color: white;
}

#btn-email {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-join {
    margin-bottom: 10px;
}

footer {
    font-style: italic;
}

a {
    color: inherit;
}